body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(black, darkblue); /* 设置背景为从黑色到深蓝色的渐变色 */
}

#star-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#star-Mouse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}